<!DOCTYPE htl>
<html>
	<head>
		<meta lang="en" >
		<title>找到他/她喜欢礼物</title>
		<style type="text/css">
			*{ margin:0; padding:0; }
			body{ background-color:rgb(250, 250, 250); }
			#main_body{ position:relative; margin:0 auto; width:980px; height:100%; border-left:1px solid #000; border-right:1px solid #000; }
			#header{height:50px; }
			#search_form{ background-color:white; width:455px; float:left; height:50px; line-height:50px; border:1px solid #ddd; margin-top:20px; }
			#search_form input[type="text"]{ height:40px; width:320px; font-size:18px; margin-left:5px; margin-top:5px; background-color:rgb(255, 254, 231);border:1px solid #ddd; }
			#search_form .sbt{ height:40px; width:120px; line-height:40px;margin-left:5px; border:1px solid #ddd; background-color:rgb(255, 254, 231); position:absolute; margin-top:5px; cursor:pointer; }
			#search_form .sbt span{ color:rgb(32, 16, 4); font-size:18px; }
			#nav{ height:40px; margin-left:300px; float:left; margin-top:20px; }
			#nav li{ display:inline-block; padding:15px 5px; margin:1px; }
			#nav li a{ text-decoration:none; padding:15px 5px; font-size:.8em; }
			#nav li a:hover{ text-decoration:underline;}
		</style>
	</head>
	<body>
		<div id="main_body">
			<div id="header">
				<form method="get" id="search_form" action="serach">
						<input type="text" value="" name="search" />
						<button type="submit" value="Search" class="sbt" ><span>搜 礼 物</span></button>
				</form>
				<nav>
					<ul id="nav">
						<% if @user == nil %>
							<li><%= link_to "创建新用户", :controller => "user", :action => "signup", :class => "signup" %></li>
							<li><%= link_to "登录", :controller => "user", :action => "login" %></li>
						<% else %>
							<li><%= link_to @user.name, :controller => "kr", :action => "profile" %></li>
							<li><%= link_to '注销', :controller => "user", :action => "logout" %></li>
						<% end %>
					</ul>
				</nav>
			</div>
		</div>
	</body>
</html>
