<div id="all_content">
	<ul>
		<% @photo.each do |img| %>
		<li class="item">
		<%= link_to image_tag(url_for(controller: 'photo', action: 'photo_large', id: img.id)), controller: "present", action: "show", id: img.id %><br />
			<div class="caption"> 
				<ul class="details">
					<li><%= link_to "hahaha" %></li>
					<li><%= link_to "Delete", controller: "present", action: "destroy", method: "delete", id: img.id %></li>
				</ul>
			</div> 
		</li>
		<% end %>
	</ul>
</div>
