<h1>My Project Presend </h1>
<ul>
	<% @photo.each do |img| %>
		<div class="item">
			<li>
				<%= link_to image_tag(url_for(controller: 'photo', action: 'photo_large', id: img.id)), controller: "present", action: "show", id: img.id %>
				<div class="caption"><a href="haha">hahahahahhha</a></div>
			</li>
		</div>
	<% end %>
</ul>
