<div id="all_content">
	<ul>
		<% @photo.each do |img| %>
		<li class="item">
			<%= link_to image_tag(url_for(controller: 'photo', action: 'photo_large', id: img.id)), controller: "present", action: "show", id: img.id %>
			<div class="caption">
				<%= form_for :like, remote: true, url: { controller: "like", action: "create" } do |like| %>
					<%= like.button "Like" %>
				<% end %>
				<a href="haha">hahaha</a></div>
		</li>
		<% end %>
	</ul>
</div>
