<div class="feature"> 
	<ul> 
		<li> <a href="#feature1" class="selected"><strong>个人爱好</strong></a> </li> 
		<li> <a href="#feature2"><strong>个人设置</strong></a></li>
		<li> <a href="#feature3"><strong>推荐礼物</strong></a></li> 
		<li> <a href="#feature4"><strong>朋友</strong></a></li> 
		<li> <a href="#feature5"><strong>好友推荐的礼物</strong></a></li> 
		<li> <a href="#feature6"><strong>私隐</strong></a></li> 
		<li> <a href="#feature7"><strong>邀请好友</strong></a></li> 
		<li> <a href="#feature8"><strong>搜索好友</strong></a></li> 
		<li class="end"></li> 
	</ul> 
	<div id="feature1" style="display:block;" class="featureWrapper">
		<h1>个人爱好</h1>
	</div> 
	<div id="feature2" style="display:none;" class="featureWrapper">
		<h1>个人设置</h1>
	</div> 
	<div id="feature3" style="display:none;" class="featureWrapper">
		<h1>推荐礼物</h1>
	</div> 
	<div id="feature4" style="display:none;" class="featureWrapper">
		<h1>朋友</h1>
	</div> 
	<div id="feature5" style="display:none;" class="featureWrapper">
		<h1>好友推荐的礼物</h1>
	</div> 
	<div id="feature6" style="display:none;" class="featureWrapper">
		<h1>私隐</h1>
	</div> 
	<div id="feature7" style="display:none;" class="featureWrapper">
		<h1>邀请好友</h1>
	</div> 
	<div id="feature8" style="display:none;" class="featureWrapper">
		<h1>搜索好友</h1>
		<% @username.each do |username| %>
			<%= username.name %>
		<% end %>
	</div> 
</div> 
<script type="text/javascript"> 
	$(".feature").idTabs(function(id,list,set){ 
			$("a",set).removeClass("selected") 
			.filter("[href='"+id+"']",set).addClass("selected"); 
			for(i in list) 
			$(list[i]).hide(); 
			$(id).fadeIn(); 
			return false; 
			}); 
</script>
