<div id="header">
	<form id="search_input">
			<input type="text" name="search" class="sea" /> 
			<a class="searchbox_submit" href="#"><img src="project/public/images/s.gif" alt="" /></a>
	</form>
	<ul class="nav">
		<% if @user == nil %>
			<li><%= link_to "创建新用户", controller: "user", action: "signup", class: "signup" %></li>
			<li><%= link_to "登录", controller: "user", action: "login" %></li>
		<% else %>	
			<li><%= link_to @user.name, controller: "user", action: "profile" %></li>
			<li><%= link_to '注销', controller: "user", action: "logout" %></li>
		<% end %>
	</ul>
</div>
